h1{

    margin: 40px;
    text-align:center;
    font-family: 'Poppins'

}

body{
    background-image: url('/img/restauranteDesenfocado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadrado{

    color: white;
    font-family: 'Poppins';
    background-color: #212121;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
}
    
.cuadrado p{

    top: -15px;
    position: relative;
}

.cuadrado h1{

    top: -11px;
    position: relative;
}

.modificar
{
    background-color: #919191;
    transition: background-color 0.2s ease;
    height: 25px;
    width: 135px;
    display: inline-block;
    left: 21px;
    top: 22px;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    padding-top: 3px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.modificar:hover{

    background-color: rgb(59, 239, 35);
    transition: background-color 0.2s ease;
}

.modificar a
{
    left: 7px;
    top: -2px;
    position: relative;
}

.modificar a:link
{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.modificar a:visited
{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.errores{

    position: absolute;
    left: 41%;
    padding: 10px;
    margin: 10px;
    background-color:rgba(237, 120, 120, 0.571);
}

.fa fa-list-alt{

    color: green;
}

#logo-historial{

    color: #919191;
    transition: color 0.2s ease;
    position: relative;
    font-size: 30px;
    top: -44px;
    left: 236px;
    text-decoration: none;
}

a#logo-historial{

  
}

#logo-historial:hover{

    color: rgb(59, 239, 35);
    transition: color 0.2s ease;
    position: relative;
    font-size: 30px;
    top: -44px;
    left: 236px;
    text-decoration: none;
}

.letras-logo{

    font-size: 10px;
    position: relative;
    left: -32px;
    top: 50px;
    width: 100px;
}
