body {
    font-family: 'Poppins', sans-serif;
}

.procesar-compra-container{
    text-align: center;
    position: relative;
    top: 20px;
}

.button {
    font-family: "Poppins";
    position: relative; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 168px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 62px;
    width: 243px;
}

.button:hover {
    background-color: #1db954;
}